.material-icons-outlined {
    vertical-align: middle;
    font-family: 'Material Icons';
    font-size: 24px;
}

body {
    margin: 0;
    font-family: arial, sans-serif;
}


h4{
    font-weight: 100;
    margin: 10px;
    width: 5%;
    display: inline;
    font-size: 14px;
}
.container{
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    }

#sign-in {
    color: white;
    border-radius: 2px;
    border: none;
    height: 28px;
    background-color: #4285F4;
    margin-right: 5px;
}

.top {
    margin: 25px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 10px;
}

.left-set {
    width: 50%;

}

.main-center {
    padding: 10% 4rem 4rem;
    flex-grow: 1;
}

.image {
    display: block;
    margin: .2% auto;

}
.wrapper {
    position: relative;
    display: flex;
}

.searchbar {
    margin-top: 20px;
    margin-left: 42%;
}

.button{
    margin-left: 20px;
}
.bottoms {
    color: #70757a;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem .2rem;
    background-color: #f2f2f2;
}